<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible", content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>GSF-Hacks > India Mart</title>
  <link rel="shortcut icon" type="image/x-icon" href="/img/icons/favicon.ico">
  
  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="lib/select2/select2.css">
  <link rel="stylesheet" href="/css/layout.css">
</head>
