/*------------Base Rules------------------ */
html, body{
  height: 100%
}
body{
  padding-top:60px;
  font-family: 'TradeGothic', sans-serif;
  color: #000; /*#34495e*/
  font-size: 16px;
  background-color: #f8f2e3;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Arial Rounded MT Bold"; 
}
h1{
  color:#fff;
  font-size:80px; 
  text-shadow:2px 2px 4px rgba(0,0,0,0.5);
}
h2{
  color:#fff;
  font-size:60px; 
  line-height: 70px;
  text-shadow:2px 2px 4px rgba(0,0,0,0.7);
}
h3{
  font-size:30px;
}
h4{
  font-size:25px;
  line-height: 30px
}
.dotted-seperator{
  border-color: #ddd;
  border-style: dashed;
}
a:focus {
  outline: 1px dotted #666;
  outline: 1px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/*-------------[ Global: Navbar]-------------------*/
.insedge-nav{
	background: rgb(61,73,95);
	border-bottom: 1px solid rgb(61,73,95);
	color: #fff;
	padding: 10px 0 0px;
	box-shadow:0 2px 12px rgba(0, 0, 0, 0.0);
}
.insedge-nav .navbar-brand,
.insedge-nav .navbar-brand:hover,
.insedge-nav .navbar-brand:focus {
  color: #fff;
  font-weight: bold;
  font-size: 22px
}
.insedge-nav .navbar-nav > li > a {
  color: #aaa;
}
.insedge-nav .navbar-nav > li > a:hover,
.insedge-nav .navbar-nav > li > a:focus  {
  color: #fff;
}
.insedge-nav .navbar-nav > .active > a,
.insedge-nav .navbar-nav > .active > a:hover,
.insedge-nav .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;	
}
.insedge-nav .navbar-toggle {
  border-color: transparent;
}
.insedge-nav .navbar-toggle:hover {
  background-color: transparent;
  border-color: #f5f5f5;
}
.insedge-nav .navbar-toggle .icon-bar {
	background-color: #E85272;
}
.insedge-nav .navbar-toggle:hover .icon-bar {
	background-color: #c83252;
}
.avatar{
	height: 30px
}


/*-------------[ Search Bar]-------------------*/
.search-box{
  text-align: center;
}
.header-search{
  min-width: 500px;
}

























