<!doctype html>
<html lang="en" ng-app="Gsfhacks">
<head>
	<% include includes/head%>
</head>
<body>
	<header id="nav" class="navbar navbar-inverse navbar-fixed-top insedge-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".insedge-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index.html" class="navbar-brand">GSF Hacks - India Mart</a>
      </div>
      <nav id="scroller" data-offset="60" class="navbar-collapse insedge-navbar-collapse collapse " role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a  href="#home">HOME</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

	<div ng-include src="'modules/search/search.html'" scope="" onload=""></div>


	
	<% include includes/foot%>

</body>
</html>